@import "./normalize.css";
@import "./icon.css";

:root {
  --normal-color: red;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
